.form {
  display: flex;
  flex-direction: column;

  .inlineFields {
    display: flex;
    gap: 20px;
  }

  .textInput {
    margin-bottom: 20px;
  }

  .button {
    margin-top: 10px;
  }

  .alert {
    margin-top: 30px;
  }
}


